:root {
  --main-color-font: #ffffff;
  --secondary-color-font: #000000;
  --header-bg-color: #ffffff;
  --primary-bg-color: #121118;
  --secondary-bg-color: #100e14;
  --tertiary-bg-color: #0a0a0a;
  --footer-bg-color: #000000;
  --color-btn: #ff4343;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-font);
  background-color: var(--primary-bg-color);
}

.container {
  width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.marker {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;

  background-color: var(--color-btn);
  border: none;
  border-radius: 8px;
  min-width: 281;

  padding: 19px 80px 19px 30px;
  font-size: 23px;
  line-height: 1.57;
  letter-spacing: 0.42px;
}
/* ------------------HEADER------------------ */
header {
  background-color: var(--header-bg-color);
}

.header-container {
  display: flex;

  padding-top: 32px;
  padding-bottom: 35px;
}

.navigation {
  display: flex;
}

.logotype {
  margin-right: 64px;
  text-decoration: none;
  color: var(--secondary-color-font);
}

.main-menu {
  display: flex;
}

.main-menu-item:not(:last-child) {
  margin-right: 52px;
}

.main-menu-link {
  text-decoration: none;
  color: var(--secondary-color-font);

  padding-top: 32px;
  padding-bottom: 35px;
}

.registration {
  display: flex;
  margin-left: auto;
}

.registration-item:not(:last-child) {
  margin-right: 32px;
}

.registration-link {
  text-decoration: none;
  color: var(--secondary-color-font);

  padding-top: 32px;
  padding-bottom: 35px;
}

/* ------------------MAIN------------------ */
.title {
  font-size: 58px;
  line-height: 1.21;
  letter-spacing: 1.92px;

  text-align: center;
}
.text {
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: 1.08px;
  color: rgba(255, 255, 255, 0.5);

  text-align: center;
}

/* =====HERO===== */
.hero {
  background-color: var(--secondary-bg-color);
  padding-top: 96px;
  text-align: center;
}
.title-hero {
  font-weight: 400;
  font-size: 63px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 2.88px;

  margin-bottom: 44px;
}

.hero-text {
  margin-bottom: 73px;
}

.hero-text-small {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.42px;

  margin-top: 19px;
  margin-bottom: 61px;
}

/* =====ABOUT US===== */
.about-us-section {
  padding-bottom: 180px;
}

.about-us-item {
  list-style: none;
  display: flex;

  justify-content: space-between;
}

.about-us-item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.about-us-item:not(:last-child) {
  margin-bottom: 360px;
}

.description {
  width: 500px;
}

.about-us-title {
  margin-bottom: 38px;
  text-align: left;
}

.about-us-text {
  text-align: left;
}

.accent {
  font-weight: 700;
  color: var(--main-color-font);
}

/* ===== COACHES ===== */

.coaches-list {
  display: flex;
}


/* ===== GROUP COURSES ===== */
.group-courses{
  text-align: center;
}